<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage" %>

<div>
    <form action="/Order/Create" method="post">
        Product ID: <input name="productId" type="text" value="1234" />
        <input name="createOrder" type="submit" value="Create Order" />
    </form>
</div>